docs/_build/*
docs/_build/html/_static/*
docs/_static/*
docs/_templates/*
work/*
.snakemake/*
/.snakemake/
/.vscode/
/micaflow.egg-info
/micaflow/resources/.snakemake
/build

/VAN_CASE_test_synth
/micaflow/scripts/__pycache__
/micaflow/scripts/__pycache__
*.pyc
*.pyc
